@keyframes from-left {
  0% {
    transform: translateX(-100rem); }
  70% {
    transform: rotateY(180deg); }
  100% {
    transform: translateX(0); } }

@keyframes from-right {
  0% {
    transform: translateX(100rem); }
  70% {
    transform: rotateY(180deg); }
  100% {
    transform: translateX(0); } }

@keyframes from-below {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

a:link:focus-visible {
  outline: 2px dotted #ff52bf;
  outline-offset: 2px; }

ul {
  list-style: none;
  padding: 0; }

a {
  text-decoration: none;
  color: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

main {
  padding: 16rem 10.5rem 0;
  animation: from-below 1s ease-out 0.5s;
  animation-fill-mode: backwards; }

@media (max-width: 77em) {
  main {
    padding: 8rem 20rem 0; } }

@media (max-width: 48em) {
  main {
    padding: 8rem 3rem 0; } }

body {
  font-size: 1.8rem; }

.heading {
  color: #00252e;
  font-family: "Poppins", sans-serif; }
  .heading--main {
    font-size: 4rem;
    letter-spacing: -0.25px; }
  .heading--secondary {
    font-size: 2.75rem;
    letter-spacing: 0.25px; }
  .heading--aside {
    font-size: 3.25rem;
    letter-spacing: -0.45px; }

.p {
  line-height: 1.5;
  font-size: 1.8rem;
  font-family: "Open Sans", sans-serif; }
  .p--header {
    color: #00252e; }
  .p--block {
    color: #808d99; }

.btn {
  font-size: 1.425rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  letter-spacing: -0.15px; }
  .btn--white {
    color: #00252e; }
  .btn--pink {
    color: white; }

.aside .btn {
  font-size: 2rem; }

.info {
  font-size: 1.25rem;
  letter-spacing: -0.05px; }

.footer {
  color: white;
  font-family: "Open Sans", sans-serif; }
  .footer__row__contact {
    font-size: 1.6rem; }
  .footer__row__social__list li i {
    font-size: 1.5rem; }
  .footer__row__social__list li:nth-of-type(2) i {
    font-size: 1.25rem; }

@media (max-width: 48em) {
  .heading--main {
    font-size: 5rem;
    letter-spacing: -1px; }
  .heading--secondary {
    font-size: 4rem; }
  .p {
    font-size: 3.25rem; }
    .p--block {
      font-size: 2.75rem; }
  .btn {
    font-size: 2rem; }
    .btn--pink {
      font-size: 2.5rem; }
  .info {
    font-size: 2rem; }
  .footer__row__contact {
    font-size: 3rem; }
  .footer__row__list {
    font-size: 3.5rem; }
  .footer__row__social__list li i {
    font-size: 3rem; }
  .footer__row__social__list li:nth-of-type(2) i {
    font-size: 2.25rem; } }

@media (max-width: 33em) {
  .heading--main {
    font-size: 3rem; }
  .heading--secondary {
    font-size: 2.5rem; }
  .heading--aside {
    font-size: 2.5rem;
    letter-spacing: -0.45px; }
  .p {
    font-size: 2rem; }
    .p--block {
      font-size: 1.8rem; }
  .btn--white {
    font-size: 1.5rem; }
  .btn--pink {
    font-size: 1.5rem; }
  .aside .btn {
    font-size: 1.5rem; }
  .footer__row__contact {
    font-size: 1.8rem; }
  .footer__row__list {
    font-size: 2rem; }
  .footer__row__social__list li i {
    font-size: 2rem; }
  .footer__row__social__list li:nth-of-type(2) i {
    font-size: 1.75rem; }
  .info {
    font-size: 1rem; } }

.aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position: relative;
  background-color: white;
  max-width: 80rem;
  min-height: 28rem;
  margin: 16rem auto 0;
  gap: 3rem;
  box-shadow: 2px 2px 10px 5px rgba(128, 141, 153, 0.09);
  border-radius: 1.5rem; }
  .aside .heading {
    padding-block: 1.25rem 0.5rem;
    text-align: center; }
  .aside .btn {
    height: 8rem;
    min-width: 40rem;
    box-shadow: 0 7px 12px -1px rgba(128, 141, 153, 0.4);
    padding-bottom: 2px; }

@media (max-width: 77em) {
  .aside {
    max-width: 65rem; } }

@media (max-width: 33em) {
  .aside .btn {
    min-width: 22rem;
    height: 5rem; } }

.btn:link, .btn:visited {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-align: center;
  border-radius: 10rem;
  padding-inline: 6.47rem;
  transition: all 0.25s ease-out; }

.btn:hover {
  opacity: 0.7;
  transform: scaleX(0.9); }

.btn--white {
  background-color: white;
  height: 4.8rem;
  max-width: 20rem;
  box-shadow: 0 3px 10px -1px rgba(0, 0, 0, 0.1);
  padding-bottom: 1px; }

.btn--pink {
  background-color: #ff52bf;
  height: 5.6rem;
  max-width: 28rem;
  box-shadow: 0 3px 10px -1px rgba(255, 82, 191, 0.5);
  padding-bottom: 2px; }

@media (max-width: 48em) {
  .btn:link, .btn:visited {
    padding-inline: 5rem; }
  .btn--pink {
    height: 8rem;
    max-width: 50rem; } }

@media (max-width: 33em) {
  .btn:link, .btn:visited {
    padding-inline: 2rem; }
  .btn--white {
    height: 3rem;
    max-width: 12rem; }
  .btn--pink {
    height: 5rem;
    max-width: 30rem; } }

.block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: normal;
  min-height: 44rem;
  border-radius: 1.5rem;
  padding-inline: 12rem 3.25rem;
  box-shadow: 2px 2px 10px 5px rgba(128, 141, 153, 0.09); }
  .block__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: normal;
    flex-basis: 101%; }
    .block__text .heading {
      padding-block: 0.5rem 1.3rem; }
    .block__text .p {
      max-width: 49rem; }
  .block__img {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 99%; }
    .block__img img {
      width: 76%; }
  .block:nth-of-type(2) {
    margin-block: 4rem;
    padding-right: 2.5rem; }
    .block:nth-of-type(2) .block__img {
      order: -1;
      justify-content: flex-start;
      margin-right: 9rem; }
      .block:nth-of-type(2) .block__img img {
        width: 85%; }
    .block:nth-of-type(2) .p {
      max-width: 50rem; }
  .block:last-of-type {
    padding-right: 2.5rem; }
    .block:last-of-type img {
      width: 78%; }

@media (max-width: 77em) {
  .block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
    padding: 10rem 5rem;
    text-align: center; }
    .block__text .heading {
      padding-block: 10rem 1.3rem; }
    .block__text .p {
      max-width: none; }
    .block__img img {
      margin-inline: auto; }
    .block:nth-of-type(2) {
      margin-block: 8rem;
      padding-inline: 5rem; }
      .block:nth-of-type(2) .block__img {
        order: 0;
        margin-right: 0; }
      .block:nth-of-type(2) .p {
        max-width: none; }
    .block:last-of-type {
      padding-inline: 5rem; } }

@media (max-width: 33em) {
  .block {
    padding: 8rem 5rem 5rem; } }

@media (min-width: 91em) {
  .block {
    max-width: 130rem;
    margin-inline: auto; }
    .block img {
      max-width: 41.8rem; } }

.footer {
  z-index: -1;
  background-color: #00252e;
  margin-top: -9.65rem;
  padding: 19.25rem 8rem 6.5rem 12rem; }
  .footer__row {
    display: flex;
    flex-direction: row;
    justify-content: normal;
    align-items: normal;
    margin-top: 3.5rem; }
    .footer__row__contact {
      flex-basis: 123%;
      display: flex;
      flex-direction: column;
      justify-content: normal;
      align-items: normal;
      gap: 2.5rem; }
      .footer__row__contact li {
        display: flex;
        flex-direction: row;
        justify-content: normal;
        align-items: normal;
        vertical-align: top; }
        .footer__row__contact li .img {
          width: 4rem; }
          .footer__row__contact li .img img {
            vertical-align: bottom; }
        .footer__row__contact li p {
          max-width: 35rem;
          vertical-align: top;
          line-height: 1.4; }
    .footer__row__list {
      flex-basis: 100%;
      display: flex;
      flex-direction: column;
      justify-content: normal;
      align-items: normal;
      flex-wrap: wrap;
      row-gap: 1.5rem;
      column-gap: 2rem;
      max-height: 12rem; }
      .footer__row__list li a:hover {
        color: #ff52bf; }
    .footer__row__social {
      flex-basis: 77%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: normal; }
      .footer__row__social__list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: normal;
        gap: 1.5rem;
        padding-right: 8rem; }
        .footer__row__social__list li {
          width: 3rem;
          height: 3rem;
          text-align: center;
          border: 1.25px white solid;
          border-radius: 50%;
          transition: all 0.2s ease-out; }
          .footer__row__social__list li:hover {
            color: #ff52bf;
            border: 1.5px #ff52bf solid;
            transform: scale(1.1) translateY(-2px); }

.info {
  margin-top: 2rem; }
  .info--attribution a:hover {
    color: #ff52bf; }
  .info--copyright {
    text-align: end; }

@media (max-width: 77em) {
  .footer {
    padding: 19.25rem 4rem 6.5rem; }
    .footer__logo img {
      width: 30rem; }
    .footer__row {
      display: flex;
      flex-direction: column;
      justify-content: normal;
      align-items: normal; }
      .footer__row__contact li .img {
        width: 6rem; }
        .footer__row__contact li .img img {
          width: 2rem; }
      .footer__row__contact li p {
        max-width: 40rem; }
      .footer__row__contact .info {
        display: none; }
      .footer__row__list {
        flex-wrap: nowrap;
        max-height: none;
        margin-top: 8rem; }
      .footer__row__social__list {
        padding-right: 0; }
        .footer__row__social__list li {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          width: 6rem;
          height: 6rem; }
      .footer__row__social .info {
        margin-top: 5rem;
        text-align: center; } }

@media (max-width: 33em) {
  .footer__logo img {
    width: 20rem; }
  .footer__row__contact li p {
    max-width: 20rem; }
  .footer__row__social__list li {
    width: 4rem;
    height: 4rem; } }

.header {
  background: #ebfbff url(./../images/bg-hero-desktop.svg) no-repeat;
  padding: 4.7rem 8rem;
  height: 72rem; }
  .header__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6.5rem; }
    .header__top .title-img {
      height: 3.1rem;
      width: 20rem;
      margin-top: 0.2rem; }
      .header__top .title-img img {
        width: 100%;
        height: 100%; }
  .header__bottom {
    display: flex;
    flex-direction: row;
    justify-content: normal;
    align-items: center; }
    .header__bottom__text {
      width: 45.6%;
      padding-right: 7rem;
      padding-top: 1.6rem;
      animation: from-right 1.5s ease-in-out; }
      .header__bottom__text .p {
        margin-block: 3rem; }
    .header__bottom__img {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: normal;
      width: 54.4%;
      padding-right: 0.5rem;
      animation: from-left 1.5s ease-in-out; }
      .header__bottom__img img {
        width: 100%;
        max-height: 50rem;
        max-width: 90rem; }

@media (max-width: 77em) {
  .header {
    background: #ebfbff url(./../images/bg-hero-mobile.svg) no-repeat;
    background-size: contain;
    padding: 4.7rem 3rem;
    height: 122rem; }
    .header__top {
      margin-bottom: 14rem; }
    .header__bottom {
      display: flex;
      flex-direction: column;
      justify-content: normal;
      align-items: center; }
      .header__bottom__text {
        max-width: 60rem;
        margin-inline: auto;
        text-align: center;
        width: 75%;
        padding-right: 0; }
        .header__bottom__text .p {
          margin-block: 4rem 6rem; }
        .header__bottom__text .btn {
          margin: 3rem auto 3rem; }
      .header__bottom__img {
        width: 75%;
        padding: 5rem 3rem 0; } }

@media (max-width: 48em) {
  .header {
    height: 140rem; }
    .header__bottom__text {
      width: 90%; }
    .header__bottom__img {
      width: 100%; } }

@media (max-width: 33em) {
  .header {
    padding: 3rem 3rem;
    height: 96rem; }
    .header__top {
      margin-bottom: 10rem; }
      .header__top .title-img {
        height: 2.25rem;
        width: 13rem; }
    .header__bottom__text {
      width: 100%; }
    .header__bottom__img {
      padding: 2rem 0 0; } }

@media (min-width: 91em) {
  .header__bottom {
    max-width: 140rem;
    margin-inline: auto; } }
