$clr-pink: rgb(255, 82, 191);
$clr-pale-cyan: rgb(235, 251, 255);
$clr-dark-cyan: rgb(0, 37, 46);
$clr-gray: rgb(128, 141, 153);
$clr-white: rgb(255, 255, 255);
$clr-black: rgb(0,0,0);

$fs-normal: 1.8rem;

$ff-heading: 'Poppins', sans-serif;
$ff-body: 'Open Sans', sans-serif;

$fw-heading: 600;
$fw-body-normal: 400;
$fw-body-bold: 700;

$bp-xl: 91em; // 1456 px
$bp-lg: 77em; // 1232 px
$bp-md: 48em; // 768 px
$bp-sm: 33em; // 528 px