*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

a:link:focus-visible {
    outline: 2px dotted $clr-pink;
    outline-offset: 2px;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}

main {
    padding: 16rem 10.5rem 0;
    animation: from-below 1s ease-out 0.5s;
    animation-fill-mode: backwards;
}

@media (max-width:$bp-lg) {
    main {
        padding: 8rem 20rem 0;
    }
}
@media (max-width:$bp-md) {
    main {
        padding: 8rem 3rem 0;
    }
}